@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Light_red: hsl(0, 100%, 67%);
  --Orangey_yellow: hsl(39, 100%, 56%);
  --Green_teal: hsl(166, 100%, 37%);
  --Cobalt_blue: hsl(234, 85%, 45%);

  /* gradients */
  /* background */
  --Light_slate_blue: hsl(252, 100%, 67%);
  --Light_royal_blue: hsl(241, 81%, 54%);

  /* circle */
  --Violet_blue: hsla(256, 72%, 46%, 1);
  --Persian_blue: hsla(241, 72%, 46%, 0);

  /* nuetral */
  --White: hsl(0, 0%, 100%);
  --Pale_blue: hsl(221, 100%, 96%);
  --Light_Pale_blue: hsl(221, 100%, 96%, 0.5);
  --Light_lavender: hsl(241, 100%, 89%);
  --Dark_gray_blue: hsl(224, 30%, 27%);

  --ff-hanken: "Hanken Grotesk", sans-serif;
}

body {
  background-color: var(--White);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-hanken);
}

main {
  margin: 50px auto;
}
.container {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 100%;
  border-radius: 20px;
  width: 90vw;
  /* border-top-left-radius: 20px; */
  /* border-top-right-radius: 20px; */
  box-shadow: 7px 3px 15px 7px var(--Light_lavender);
}

.left-side {
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  border-radius: 20px;
  align-items: center;
  background: linear-gradient(184deg, var(--Light_slate_blue), var(--Light_royal_blue))
}

.left-side p:first-child {
  font-size: 21px;
  font-weight: 600;
}

.heading {
  color: var(--Light_Pale_blue);
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.total-score {
  color: var(--White);
}

.score {
  background: linear-gradient(180deg,
      hsla(256, 72%, 46%, 1),
      hsla(241, 72%, 46%, 0.1));
  padding: 50px 70px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.total-score {
  font-size: 65px;
  font-weight: 800;
}

.performance {
  font-size: 30px;
  color: var(--White);
}

.remarks {
  color: var(--Light_lavender);
  font-size: 18px;
  text-align: center;
}

.right-side {
  padding: 40px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  gap: 35px;
}

.right-side h3 {
  font-size: 24px;
  font-weight: 700;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.reaction {
  /* width: 100%; */
  background-color: hsla(0, 100%, 67%, 0.07);
  /* margin: 50px 0; */
}

.verbal {
  width: 100%;
  background-color: hsla(166, 100%, 37%, 0.07);
  /* margin: 50px 0; */
}

.visual {
  width: 100%;
  background-color: hsla(234, 85%, 45%, 0.07);
  /* margin: 50px 0; */
}

.points {
  display: flex;
  justify-content: space-between;
  padding: 18px 12px;
  border-radius: 12px;
  font-size: 18px;
}

.set {
  display: flex;
  gap: 8px;
}

.react {
  color: var(--Light_red);
  font-weight: 600;
}

.memory {
  font-weight: 600;
  color: var(--Orangey_yellow);
}

.verb {
  font-weight: 600;
  color: var(--Green_teal);
}

.vis {
  font-weight: 600;
  color: var(--Cobalt_blue);
}

.marks {
  font-weight: 700;
}

.total {
  font-weight: 800;
  color: hsla(224, 30%, 27%, 0.6);
  margin-left: 6px;
}

.button {
  text-align: center;
  /* margin-top: 8px; */
}

button {
  padding: 15px 21px;
  width: 100%;
  border-radius: 30px;
  border: none;
  font-size: 17px;
  color: var(--White);
  background-color: var(--Dark_gray_blue);
}

@media screen and (width> 500px) {
  .container {
    /* grid-template-columns: 50% 50%; */
    width: 450px;
  }
}

@media screen and (width> 750px) {
  .container {
    grid-template-columns: 50% 50%;
    width: 720px;
  }
}